POSTGRES_DB=market_trading_bot
POSTGRES_USER=market_user
POSTGRES_PASSWORD=market_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_NAME=market_trading_bot
DJANGO_DB_USER=market_user
DJANGO_DB_PASSWORD=market_password
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
VITE_API_BASE_URL=http://localhost:8000/api
